body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

#recordButton, #playButton, #transcribeButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
}

#recordButton:hover, #playButton:hover, #transcribeButton:hover {
    background-color: #45a049;
}

audio {
    margin-top: 20px;
    width: 300px; /* Adjust as needed */
}

.card {
    display: none;
  }
  
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .card-image {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-transcription {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-prompt {
    font-size: 14px;
    text-align: justify;
  }

  .card-instructions {
    font-size: 14px;
    text-align: justify;

  }

/* Responsive design */
@media (max-width: 600px) {
    audio {
        width: 100%;
    }
}